/* Contenedor principal del mapa */
.map-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  /* Contenedor de los datos del clima */
  .weather-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Panel de datos del clima */
  .weather-data-panel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 2;
    padding: 20px;
    width: 100%;
  }
  
  /* Botón cerrar */
  .close-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
  }
  
  .close-button {
    cursor: pointer;
    width: fit-content;
  }
  
  /* Botón dentro del Toast */
  .toast-button {
    margin-left: 10px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    /* Contenedor principal del mapa (vista móvil) */
    .map-container {
      padding: 10px; /* Reducir el padding */
      margin-top: 10px;
      display: flex;
      text-align: center; /* Centrar el contenido */
      background-color: rgba(0, 0, 0, 0.5);
      margin: 0 auto; /* Asegura que esté centrado */
    }
     /* Aseguramos que el h1 esté encima del mapa y centrado */
  .map-container h1 {
    font-size: 10px; /* Reducir tamaño del título para móviles */
    margin-bottom: 15px;
  }

    /* Hacer el mapa más pequeño en pantallas pequeñas */
    .map-container svg {
        width: 100%;
        size: 300;
        max-width: 320px; /* Máximo tamaño del mapa */
        height: auto;
      }
  
    /* Contenedor de los datos del clima */
    .weather-data-container {
      flex-direction: column; /* Diseño vertical */
      margin-top: 10px; /* Más espacio arriba */
      align-items: center;
      padding: 5px;
      margin: 0 5px; /* Margen reducido */
      max-width: 100%; /* Asegura que se ajusta bien al ancho */
    }
  
    /* Panel de datos del clima */
    .weather-data-panel {
      justify-content: center; /* Centrar el contenido */
      margin-top: 10px; /* Más espacio arriba */
      align-items: center;
      padding: 10px;
      
    }
  
    /* Botón cerrar */
    .close-button-container {
      width: 100%; /* Botón ancho completo */
      margin-top: 10px; /* Más espacio arriba */
      padding: 5px; /* Añadir padding */
    }
  
    .close-button {
      width: 100%;
      padding: 10px; /* Hacerlo más fácil de tocar */
      font-size: 14px; /* Texto más pequeño */
    }
  
    /* Botón dentro del Toast (vista móvil) */
    .toast-button {
      margin-top: 10px; /* Separar más el botón */
      width: 100%; /* Botón ancho completo */
      text-align: center;
      padding: 10px; /* Hacerlo más grande para facilidad de toque */
      font-size: 14px; /* Texto más pequeño */
    }  
  }
  